<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light"
	data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none"
	data-preloader="disable" xmlns:th="http://www.thymeleaf.org">

<head th:replace="program/fragments/common :: headSrc"></head>

<body>

	<div id="layout-wrapper">

		<header id="page-topbar"
			th:replace="program/fragments/common :: headerMenu"></header>

		<div class="app-menu navbar-menu"
			th:replace="program/fragments/common :: navMenu">
			<div class="sidebar-background"></div>
		</div>
		<div class="vertical-overlay"></div>
		<div class="main-content">

			<div class="page-content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-12">
							<div
								class="page-title-box d-sm-flex align-items-center justify-content-between">
								<h4 class="mb-sm-0">PRODUCT OVERFALL</h4>

								<div class="page-title-right">
									<ol class="breadcrumb m-0">
										<li class="breadcrumb-item"><a
											href="javascript: void(0);">Prodcut Manage Center</a></li>
										<li class="breadcrumb-item active">Prorduct Overall</li>
									</ol>
								</div>

							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-header align-items-center d-flex">
									<h4 class="card-title mb-0 flex-grow-1">검색 필터</h4>
								</div>

								<div class="card-body">
									<p class="text-muted">
										# <code>검색 조건</code> 을 선택하여 원하는 검색을 진행할 수 있습니다.<br> 
										# 한 페이지에 보고 싶은 <code>검색 결과의 수</code> 를 조정할 수 있습니다.<br>
										# <code>제품명 / 분류명</code> 을 통해 검색이 가능합니다.<br> 
										# <code>체크박스를 체크한 상태</code> 로 검색 시 해당 단어가 포함된 모든 결과가 표시됩니다.
									</p>
									<div class="live-preview">
										<form action="javascript:void(0);">
											<div class="row gy-2 gx-3 mb-3 align-items-center">
												<div class="col-sm-auto">
													<label class="visually-hidden">Preference</label> <select
														class="form-select">
														<option selected>== 페이지 사이즈 ==</option>
														<option value="1">One</option>
														<option value="2">Two</option>
														<option value="3">Three</option>
													</select>
												</div>
												<div class="col-sm-auto">
													<label class="visually-hidden">Preference</label> <select
														class="form-select">
														<option selected>== 검색 조건 선택 ==</option>
														<option value="1">One</option>
														<option value="2">Two</option>
														<option value="3">Three</option>
													</select>
												</div>
												<div class="col-sm-3">
													<label class="visually-hidden">검색어</label>
													<div class="input-group">
														<div class="input-group-text">@</div>
														<input type="text" class="form-control"
															placeholder="검색할 단어를 입력 해 주세요.">
													</div>
												</div>
												<div class="col-sm-auto">
													<div class="form-check">
														<input class="form-check-input" type="checkbox"> <label
															class="form-check-label"> 포함된 검색 결과 보기 </label>
													</div>
												</div>

												<div class="col-sm-auto">
													<button type="submit" class="btn btn-primary">검색
														하기</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title mb-0">BionLifeScience 제품 INDEX 관리</h4>
                                </div>

                                <div class="card-body">
                                    <p class="text-muted"># <code>드래그 앤 드랍</code>을 통해 제품/소분류/중분류/대분류 사이의 표시순서를 변경할 수 있습니다.<br>
                                    # <code>같은 등급의 요소끼리만</code> 순서를 변경할 수 있습니다.<br>
                                    # 변경 완료 후 <code>확인 버튼</code>클릭시 변경된 순서로 적용 됩니다.
                                    <div class="list-group col nested-list nested-sortable">
                                        <div class="list-group-item nested-1"> <i  class="mdi mdi-folder fs-16 align-middle text-warning me-2"></i> assets
                                            <div class="list-group nested-list nested-sortable">
                                                <div class="list-group-item nested-2"> 
                                                	<i class="mdi mdi-folder fs-16 align-middle text-warning me-2"></i>
                                                    css
                                                    <div class="list-group nested-list nested-sortable">
		                                                <div class="list-group-item nested-3"> 
		                                                	<i class="mdi mdi-folder fs-16 align-middle text-warning me-2"></i>
		                                                    css
		                                                    <div class="list-group nested-list nested-sortable">
		                                                        <div class="list-group-item nested-4"><i
		                                                                class="mdi mdi-language-css3 fs-16 align-middle text-secondary me-2"></i>
		                                                            style.css</div>
		                                                        <div class="list-group-item nested-4"><i
		                                                                class="mdi mdi-language-css3 fs-16 align-middle text-secondary me-2"></i>
		                                                            style.min.css</div>
		                                                    </div>
		                                                </div>
		                                                <div class="list-group-item nested-3"> <i class="mdi mdi-folder fs-16 align-middle text-warning me-2"></i>
		                                                    Images
		                                                    <div class="list-group nested-list nested-sortable">
		                                                        <div class="list-group-item nested-4"><i
		                                                                class="mdi mdi-language-css3 fs-16 align-middle text-secondary me-2"></i>
		                                                            style.min.css</div>
		                                                    </div>
		                                                </div>
		                                                <div class="list-group-item nested-3"> <i  class="mdi mdi-folder fs-16 align-middle text-warning me-2"></i>
		                                                    js
		                                                    <div class="list-group nested-list nested-sortable">
		                                                        <div class="list-group-item nested-4"><i
		                                                                class="mdi mdi-language-css3 fs-16 align-middle text-secondary me-2"></i>
		                                                            style.min.css</div>
		                                                    </div>
		                                                </div>
		                                            </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-group-item nested-1"> <i  class="mdi mdi-folder fs-16 align-middle text-warning me-2"></i> assets
                                            <div class="list-group nested-list nested-sortable">
                                                <div class="list-group-item nested-2"> 
                                                	<i class="mdi mdi-folder fs-16 align-middle text-warning me-2"></i>
                                                    css
                                                    <div class="list-group nested-list nested-sortable">
		                                                <div class="list-group-item nested-3"> 
		                                                	<i class="mdi mdi-folder fs-16 align-middle text-warning me-2"></i>
		                                                    css
		                                                    <div class="list-group nested-list nested-sortable">
		                                                        <div class="list-group-item nested-4"><i
		                                                                class="mdi mdi-language-css3 fs-16 align-middle text-secondary me-2"></i>
		                                                            style.css</div>
		                                                        <div class="list-group-item nested-4"><i
		                                                                class="mdi mdi-language-css3 fs-16 align-middle text-secondary me-2"></i>
		                                                            style.min.css</div>
		                                                    </div>
		                                                </div>
		                                                <div class="list-group-item nested-3"> <i class="mdi mdi-folder fs-16 align-middle text-warning me-2"></i>
		                                                    Images
		                                                    <div class="list-group nested-list nested-sortable">
		                                                        <div class="list-group-item nested-4"><i
		                                                                class="mdi mdi-language-css3 fs-16 align-middle text-secondary me-2"></i>
		                                                            style.min.css</div>
		                                                    </div>
		                                                </div>
		                                                <div class="list-group-item nested-3"> <i  class="mdi mdi-folder fs-16 align-middle text-warning me-2"></i>
		                                                    js
		                                                    <div class="list-group nested-list nested-sortable">
		                                                        <div class="list-group-item nested-4"><i
		                                                                class="mdi mdi-language-css3 fs-16 align-middle text-secondary me-2"></i>
		                                                            style.min.css</div>
		                                                    </div>
		                                                </div>
		                                            </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-group-item nested-1"> <i  class="mdi mdi-folder fs-16 align-middle text-warning me-2"></i> assets
                                            <div class="list-group nested-list nested-sortable">
                                                <div class="list-group-item nested-2"> 
                                                	<i class="mdi mdi-folder fs-16 align-middle text-warning me-2"></i>
                                                    css
                                                    <div class="list-group nested-list nested-sortable">
		                                                <div class="list-group-item nested-3"> 
		                                                	<i class="mdi mdi-folder fs-16 align-middle text-warning me-2"></i>
		                                                    css
		                                                    <div class="list-group nested-list nested-sortable">
		                                                        <div class="list-group-item nested-4"><i
		                                                                class="mdi mdi-language-css3 fs-16 align-middle text-secondary me-2"></i>
		                                                            style.css</div>
		                                                        <div class="list-group-item nested-4"><i
		                                                                class="mdi mdi-language-css3 fs-16 align-middle text-secondary me-2"></i>
		                                                            <a href="https://www.naver.com">style.min.css</a></div>
		                                                    </div>
		                                                </div>
		                                                <div class="list-group-item nested-3"> <i class="mdi mdi-folder fs-16 align-middle text-warning me-2"></i>
		                                                    Images
		                                                    <div class="list-group nested-list nested-sortable">
		                                                        <div class="list-group-item nested-4"><i
		                                                                class="mdi mdi-language-css3 fs-16 align-middle text-secondary me-2"></i>
		                                                            style.min.css</div>
		                                                    </div>
		                                                </div>
		                                                <div class="list-group-item nested-3"> <i  class="mdi mdi-folder fs-16 align-middle text-warning me-2"></i>
		                                                    js
		                                                    <div class="list-group nested-list nested-sortable">
		                                                        <div class="list-group-item nested-4"><i
		                                                                class="mdi mdi-language-css3 fs-16 align-middle text-secondary me-2"></i>
		                                                            style.min.css</div>
		                                                    </div>
		                                                </div>
		                                            </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
			<th:block th:replace="program/fragments/common :: footerSrc"></th:block>
		</div>
	</div>
	<th:block th:replace="program/fragments/common :: settingBlock"></th:block>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js" integrity="sha256-ipiJrswvAR4VAx/th+6zWsdeYmVae0iJuiR+6OqHJHQ=" crossorigin="anonymous"></script>
	<th:block th:replace="program/fragments/common :: scriptSrc"></th:block>
    <script src="/administration/program/assets/libs/sortablejs/Sortable.min.js"></script>
	<script src="/administration/program/assets/js/pages/nestable.init.js"></script>
</body>

</html>